.login {
  display: flex;
  flex-direction: row-reverse;

  padding: 4rem 6rem;
  height: 100%;
}

.background-illustration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.container {
  padding: 3rem;
}
